<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redacting article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="Blocks/header::header"></div>


<div class="container mt-5 mb-5">
    <h1>Redacting article</h1>
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Input article title" class="form-control"><br/>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Input anons title" class="form-control"><br/>
            <textarea  th:text="${el.full_text}" name="full_text" placeholder="Input full text title" class="form-control"/><br/>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>

<div th:insert="Blocks/footer :: footer"></div>


</body>
</html>